### Startup

Note: Run each cell by shift-return on a cql block or use 'Cell' menu to Run All

1) Create Keyspace

In [ ]:
CREATE KEYSPACE cql_demo WITH REPLICATION = { 'class' : 'NetworkTopologyStrategy', 'DC1' : 1 };

2) Create User Table

In [ ]:
CREATE TABLE cql_demo.users (
  username text,
  first_name text,
  last_name text,
  PRIMARY KEY (username)
);

3) Insert Users

In [ ]:
INSERT INTO cql_demo.users (username, first_name, last_name) VALUES ('demo_user', 'demo', 'user');
INSERT INTO cql_demo.users (username, first_name, last_name) VALUES ('other_user', 'other', 'user');
INSERT INTO cql_demo.users (username, first_name, last_name) VALUES ('another_user', 'another', 'user');

4) Select Users

In [ ]:
SELECT * from cql_demo.users;